@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgba(2, 0, 10, 0.932);
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 61px;
}
.container{
  width: 100%;
  display: flex;
  padding: 0 20px;

}
.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out  ;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;

}
.slide.active{
  flex: 10;

}
.slide.active h3{
  opacity: 1;
  transition: opacity 0.5s ease-in 0.6s;
}